@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.heading-title {
   width: 70%;

   &__title {
      font-size: $font-size-xl;
   }
}

.board-heading {
   font-size: $font-size-s;
   font-weight: 400;

   &--2 {
      color: $end-color;
      font-weight: 400;
      font-size: $font-size-l;
   }
}

.timer {
   color: lightgreen;
   font-size: $font-size-s;
}

.list {
   list-style: none;
}

.end-header {
   width: 90%;
   border-bottom: 1px solid white;
   margin: 3rem auto 0 auto;
   padding-bottom: 1rem;

   h3 {
      color: $end-color;
      font-size: $font-size-l;
      font-weight: 400;
   }
}
