// COLORS
$bg-color: #333;
$font-color: #dfdfdf;
$primary-color: #1a1a1a;
$primary-light-color: #292728;
$secondary-color: #949494;
$secondary-darker-light: #535353;
$secondary-dark-color: #707070;
$white-color: #fff;
$red-color: #c73333;

// FONT SIZE
$font-size-default: 1.6rem;
$font-size-xl: 3.5rem;
$font-size-l: 3rem;
$font-size-m: 2.5rem;
$font-size-s: 2rem;
