.section-control {
   @include flexboxBetween;
}

.section-board {
   @include flexboxColumn;
   width: 100%;
   height: 300px;
   margin-top: 1rem;

   &__set {
      @include flexbox;
      justify-content: space-around;
      width: 100%;
      height: 50px;
      background-color: $secondary-color;
   }

   &__item {
      width: 25%;
   }

   &__list {
      display: flex;
      width: 100%;
      height: 200px;
      background-color: $white-color;
      font-size: $font-size-s;
      color: $secondary-dark-color;
   }

   &__ur-word {
      display: flex;
      align-items: center;
      text-align: left;
      width: 100%;
      height: 45px;
      background-color: $secondary-color;
      font-size: $font-size-s;
   }
}

.curent-word {
   width: 75%;
   padding-left: 10%;
}

.points-result {
   width: 25%;
   @include flexbox;
}

.words {
   width: 75%;
   text-align: left;
   padding-left: 2rem;
   overflow: scroll;
}

.points {
   width: 25%;
   text-align: center;
   border-left: 1px solid $secondary-dark-color;
   overflow: scroll;
}

.list {
   &__words {
      margin-top: 2rem;
   }

   &__points {
      margin-top: 2rem;
   }
}

.section-letters {
   width: 100%;
   margin-top: 2.5rem;

   &__container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-gap: 1rem;
      justify-content: center;
      align-items: center;
   }

   &__letter-box {
      @include flexbox;
      margin: 0 auto;
      width: 75px;
      height: 75px;
      font-size: $font-size-m;
      background-color: $secondary-darker-light;
   }
}
