.btn {
   appearance: none;
   border: none;
   background-color: $primary-light-color;
   color: $font-color;
   border-radius: 4px;
}

.btn-menu {
   min-width: 270px;
   margin-top: 3rem;
   background-color: $primary-light-color;
   color: $font-color;

   &--1 {
      height: 7.5rem;
      font-size: $font-size-l;
   }

   &--2 {
      height: 6rem;
      font-size: $font-size-m;
   }
}

.btn-control {
   &--cancel,
   &--enter {
      width: 14rem;
      height: 4rem;
      font-size: $font-size-s;
   }

   &--cancel {
      background-color: $red-color;
   }
}

.btn-clicked {
   background-color: $primary-color !important;
   box-shadow: 0 1rem 3rem rgba($primary-color, 0.8) !important;
}

.btn-icon {
   background-color: transparent;
   border: none;

   i {
      font-size: 4rem !important;
   }
}
