.end-score {
   position: fixed;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: $primary-color;
   width: 90%;
   height: 57vh;
   z-index: 110;
   border-radius: 4px;
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
   // padding: 1rem;

   @include desktop {
      max-width: 60vw;
   }

   @include desktop-xl {
      max-width: 50vw;
   }
}

.end-header {
   display: flex;
   align-items: center;
   height: 15%;
   width: 90%;
   border-bottom: 1px solid white;
   margin: 0 auto;
   // margin: 3rem auto 0 auto;
   // padding-bottom: 1rem;

   h3 {
      color: $end-color;
      font-size: $font-size-l;
      font-weight: 400;
   }
}

.list--2 {
   list-style-type: none;
}

.lists {
   display: flex;
   font-size: $font-size-default;
   // padding: 2rem;
   line-height: 150%;
   height: 65%;
   overflow-y: auto;
   margin-top: 1rem;

   @include desktop {
      padding-top: 2rem;
   }

   &__words {
      width: 50%;
      text-align: center;
   }

   &__points {
      // text-align: center;
      text-align: center;
      width: 50%;
   }
}

.end-control {
   display: flex;
   align-items: center;
   height: 20%;
   width: 85%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.icon {
   color: $end-color !important;
}
