// .words::-webkit-scrollbar-track,
// .points::-webkit-scrollbar-track {
//    border-radius: 10px;
//    background-color: #f5f5f5;
// }

// .words::-webkit-scrollbar,
// .points::-webkit-scrollbar {
//    width: 1px;
//    background-color: $font-color;
// }

// .words::-webkit-scrollbar-thumb,
// .points::-webkit-scrollbar-thumb {
//    border-radius: 10px;
//    background-color: $secondary-color;
// }

// .section-board__list__points

.lists::-webkit-scrollbar-track,
.section-board__list::-webkit-scrollbar-track {
   border-radius: 10px;
   background-color: #f5f5f5;
}

.lists::-webkit-scrollbar,
.section-board__list::-webkit-scrollbar {
   width: 2px;
   background-color: $font-color;
}

.lists::-webkit-scrollbar-thumb,
.section-board__list::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: $end-color;
}
